aiohttp==3.7.4.post0
asn1crypto==0.24.0
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
braceexpand==0.1.6
buttons==0.1.9
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==2.1.4
discord-ext-menus==1.0.0a27+g6f2b873
discord-py-slash-command==2.3.1
discord.py==1.7.3
DiscordUtils==1.2.8
dnspython==2.1.0
emojis==0.6.0
future==0.18.2
humanize==3.2.0
idna==3.2
import-expression==1.1.4
jishaku==1.20.0.220
keyring==10.6.0
keyrings.alt==3.0
motor==2.3.1
multidict==5.1.0
olefile==0.45.1
Paginator==0.5.1
pendulum==2.1.2
Pillow==8.2.0
praw==7.2.0
prawcore==2.0.0
pycparser==2.20
pycrypto==2.6.1
pygobject==3.26.1
pymongo==3.11.3
PyNaCl==1.4.0
python-apt==1.6.5+ubuntu0.6
python-dateutil==2.8.1
pytzdata==2020.1
pyxdg==0.26
PyYAML==3.12
requests==2.25.1
SecretStorage==2.3.1
six==1.15.0
timeago==1.0.15
typing==3.7.4.3
typing-extensions==3.10.0.0
ubuntu-advantage-tools==27.0
ufw==0.36
unattended-upgrades==0.1
update-checker==0.18.0
urllib3==1.26.4
wavelink==0.9.6
websocket-client==0.58.0
websockets==8.1
yarl==1.6.3
youtube-dl==2021.3.14
